<style>#page-title{display:none}</style>
<div class="page-conatiner free-material">
    <div class="image-title-container">
        <div class="top-image">
        {{ content.field_factpod_image}}
        </div>
        <div class="heading-1">
        {{ label }}
        </div>
    </div>
<div class="content-part">
{{ content.body }}
</div>
</div>